.employee-requests {
    overflow-y: scroll;
    scrollbar-width: none;
    width: 20%;
    height: 500px;
    background: #dddddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;

}

.employee-shifts h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.shift-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
