body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.full-page {
    display: flex;
    height: 100vh;
}

.manager-profile {
    width: 300px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-wrapper {
    cursor: pointer;
    text-align: center;
}

.icon {
    margin-bottom: 10px;
}

.icon-wrapper.active {
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}


.submenu {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add styles for submenu content as needed */
