.shift {
    width: 150px;
    height: 200px;
    background: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

.shift-header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #eee;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.info-icon {
    z-index: 1;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.edit-workers {
    width: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #007bff;
}

.shift-workers button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #999;
    width: 80%;
    font-size: 16px;
}

.shift-workers button:hover {
    /*width: 5px;*/
    /*height: 5px;*/
    background: #f6f6f6;

}

.shift-info {
    width: 200px;
    background: #eee;
    padding: 10px;
    border-radius: 4px;
}

.shift-info p {
    font-size: 14px;
    margin: 5px 0;
}

.shift-workers {
    position: absolute;
    top: 20px; /* Below header */
    bottom: 0;
    left: 5%;
    right: 5%;
    overflow-y: auto;
}

.shift-workers p {
    flex-shrink: 0;
    white-space: nowrap;
    background: lightgrey;
    padding: 8px 10px;
    border-radius: 20px;
    margin: 3px;
    display: inline-block;
    width: 80%;
}

.edit-workers-panel {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 5%;
    right: 5%;
    overflow-y: auto;
}

.edit-workers-panel > div {
    background: #f7f7f7;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    max-width: 100%;
}

.react-select {
    width: 100%;
}

.tooltip {
    z-index: 2;
    position: absolute;
    top: 15px;
    left: 40px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;

    transform: scale(0);
    transition: transform 0.2s;
}

.tooltip.show {
    transform: scale(1);
}