/* SignUp.css */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; /* Gray background */
}

.signup-form {
    background-color: #ffffff;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

label {
    display: inline-block; /* Display labels in the same row */
    margin-right: 15px; /* Add some space between the labels */
}

input {
    margin-right: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.icons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    margin: 0 10px;
    max-width: 100px;
    height: auto;
}
