body {
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px;
}

h1 {
    color: #333;
}

h2{
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px;
    color: #333;
}
h3{
    font-size: 1000em; /* Adjust as needed */
    color: purple;
}
h4{
    font-size: 10000em; /* Adjust as needed */
    color: purple;
}
button {
    padding: 5px 10px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.dontHave {
    font-size: small;
}